@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  --primary: #006514d5;
  --primary-hover: #00200010;
  --primary-background: #00970016;

  --secondary: #040e0082;

  --accent: #00200010;

  --heading: #1d211c;
  --subheading: #020a00a0;

  --calendar-text: #898e87;
  --calendar-active: #cccfcc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111210;

    --primary: #006514d5;
    --primary-hover: #f4f5f312;
    --primary-background: #00970016;

    --secondary: #f0fdec74;

    --accent: #ebfde766;

    --heading: #ffffff;
    --subheading: #f6fef4b0;

    --calendar-text: #898e87;
    --calendar-active: #cccfcc;
  }
}

body {
  height: 100%;
}

.custom-date-picker:focus-within > button:first-of-type > svg {
  color: var(--subheading);
}

.custom-date-picker > button:first-of-type {
  left: 0;
  bottom: 2px;
}

.custom-date-picker > button:first-of-type > svg {
  color: var(--subheading);
}

.custom-date-picker > div:first-of-type {
  left: 0;
}

.custom-date-picker > div:first-of-type > div:nth-of-type(1) {
  left: 0;
}

.custom-date-picker > div:first-of-type > div:nth-of-type(2) {
  width: min-content;
}

.custom-date-picker input::placeholder {
  font-size: 0.95rem;
}

.custom-label:before {
  content: ' ';
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
}
