@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;

    --primary: #006514d5;
    --primary-hover: #00200010;
    --primary-background: #00970016;

    --secondary: #040e0082;

    --accent: #00200010;
    --accent-background: #00970016;

    --heading: #1d211c;
    --subheading: #020a00a0;

    --calendar-text: #898e87;
    --calendar-active: #cccfcc;

    --event-heading: #040F0047;
  }

  .dark {
    --background: #111210;

    --primary: #006514d5;
    --primary-hover: #f4f5f312;
    --primary-background: #00970016;

    --secondary: #f0fdec74;

    --accent: #F4F5F312;
    --accent-background: #70FE8C1B;

    --heading: #ffffff;
    --subheading: #f6fef4b0;

    --calendar-text: #898e87;
    --calendar-active: #cccfcc;

    --event-heading: #EDFDEB57;
  }
}

body {
  height: 100%;
  overflow: hidden;
}

.custom-date-picker:focus-within > button:first-of-type > svg {
  color: var(--subheading);
}

.custom-date-picker > button:first-of-type {
  left: 0;
  bottom: 2px;
}

.custom-date-picker > button:first-of-type > svg {
  color: var(--subheading);
}

.custom-date-picker > div:first-of-type {
  left: 0;
}

.custom-date-picker > div:first-of-type > div:nth-of-type(1) {
  left: 0;
}

.custom-date-picker > div:first-of-type > div:nth-of-type(2) {
  width: min-content;
}

.custom-date-picker input::placeholder {
  font-size: 0.95rem;
}

.custom-label:before {
  content: ' ';
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
}
